# Backend
backend/node_modules/
backend/dist/
backend/logs/
backend/.env
backend/*.log

# Frontend
frontend/node_modules/
frontend/build/
frontend/.env
frontend/*.log

e2e/node_modules/
e2e/test-results/

.env

.idea/

# System
.DS_Store
